Repository amgrubb/BloomingLeaf, pull requests merged in 2022-06, with the labels that each got.

#657 Fixing Next State Bugs
  leaf-ui/js/backendComm.js
  leaf-ui/js/next-state.js
  leaf-ui/plugins/slider/nouislider.min.css
Labels: bug, next-state

#659 Refixes Issue #622 so the Website isn't Slowed Down
  leaf-ui/js/onFunctions.js
  leaf-ui/rappid-extensions/ElementInspector.js
Labels: bug, enhancement, HIGH PRIORITY

#664 Fixes issue #662 where evo colorblind mode is all black
  leaf-ui/js/object/evoObjects.js
Labels: bug, evo
